In [1]:
import numpy as np
import pandas as pd
import csv
from sklearn.preprocessing import LabelEncoder

In [2]:
# read data
df = pd.read_csv("play_golf.csv", encoding='cp949')
df.head()

  play Golf   Outlook  Temp Humidity   Wind
0        no     rainy   hot     high  False
1        no     rainy   hot     high   True
2       yes  overcast   hot     high  False
3       yes     sunny  mild     high  False
4       yes     sunny  cool   normal  False

In [3]:
X=df.drop('play Golf',axis=1) #Predictors
y=df['play Golf'] #Target

In [4]:
##### Training

In [5]:
# Train Label Encoding 
labelencoder = {}
for i in X.columns:
    # train encoder
    labelencoder[i] = LabelEncoder().fit(X[i])
    # encoding X data 
    X[i] = labelencoder[i].transform(X[i])

In [6]:
X.head()

   Outlook  Temp  Humidity  Wind
0        1     1         0     0
1        1     1         0     1
2        0     1         0     0
3        2     2         0     0
4        2     0         1     0

In [7]:
# Encoding y data
le_y = LabelEncoder().fit(y)
y = le_y.transform(y)
y

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1])

In [8]:
# Create naive bayes classifier model
from sklearn.naive_bayes import GaussianNB
nbmodel = GaussianNB()

In [9]:
# Training naive bayes model
nbmodel.fit(X, y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [10]:
####### Predict

In [11]:
# new instance data
newInstance = pd.DataFrame({'Outlook':['sunny'],'Temp':['cool'],
                            'Humidity':['high'], 'Wind' : False})
newInstance

  Outlook  Temp Humidity   Wind
0   sunny  cool     high  False

In [12]:
# Label ending data
for col in labelencoder.keys():
    newInstance[col] = labelencoder[col].transform(newInstance[col])
newInstance

   Outlook  Temp  Humidity  Wind
0        2     0         0     0

In [13]:
# Predict new instance's class
result = nbmodel.predict(newInstance)

# decoding data
result = le_y.inverse_transform(result)[0]
print('Predict:', result)

Predict: no