In [1]:
import numpy as np
import pandas as pd
import csv
from sklearn.preprocessing import LabelEncoder

In [2]:
# read data
df = pd.read_csv("go_university.csv", encoding='cp949')
df.head()

  university         dad         mom child
0      enter  university        high   boy
1       none  university  university   boy
2      enter        high        high   boy
3      enter  university        high   boy
4       none        high  university  girl

In [3]:
X=df.drop('university',axis=1) #Predictors
y=df['university'] #Target

In [4]:
##### Training

In [5]:
# Train Label Encoding 
labelencoder = {}
for i in X.columns:
    # train encoder
    labelencoder[i] = LabelEncoder().fit(X[i])
    # encoding X data 
    X[i] = labelencoder[i].transform(X[i])

In [6]:
X.head()

   dad  mom  child
0    1    0      0
1    1    1      0
2    0    0      0
3    1    0      0
4    0    1      1

In [7]:
# Encoding y data
le_y = LabelEncoder().fit(y)
y = le_y.transform(y)
y

array([0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0])

In [8]:
# Create naive bayes classifier model
from sklearn.naive_bayes import GaussianNB
nbmodel = GaussianNB()

In [9]:
# Training naive bayes model
nbmodel.fit(X, y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [10]:
####### Predict

In [11]:
# new instance data
newInstance = pd.DataFrame({'dad':['university'],'mom':['university'],
                            'child':['girl']})
newInstance

          dad         mom child
0  university  university  girl

In [12]:
# Label ending data
for col in labelencoder.keys():
    newInstance[col] = labelencoder[col].transform(newInstance[col])
newInstance

   dad  mom  child
0    1    1      1

In [13]:
# Predict new instance's class
result = nbmodel.predict(newInstance)

# decoding data
result = le_y.inverse_transform(result)[0]
print('Predict:', result)

Predict: none