In [26]:
import numpy as np
import pandas as pd
import csv

In [35]:
# read data
df = pd.read_csv("mushrooms.csv", encoding='cp949')
df = df.iloc[0:20,0:5]
df.head()

  class cap-shape cap-surface cap-color bruises
0     p         x           s         n       t
1     e         x           s         y       t
2     e         b           s         w       t
3     p         x           y         w       t
4     e         x           s         g       f

In [36]:
# n_clusters :클러스터 개수
# n_init : 초기 중심값 시도 횟수
# max_iter : 최대 반복 횟수
# random_state : 시드값

In [456]:
k = 3

In [457]:
initial_cluster = [2,4,6]

In [458]:
mode_vectors =[]
clusters = []

In [459]:
mode_vectors.append(df.loc[2])
mode_vectors.append(df.loc[4])
mode_vectors.append(df.loc[6])

In [460]:
clusters.append(pd.DataFrame(columns = df.columns))
clusters.append(pd.DataFrame(columns = df.columns))
clusters.append(pd.DataFrame(columns = df.columns))

In [461]:
mode_vectors

[class          e
 cap-shape      b
 cap-surface    s
 cap-color      w
 bruises        t
 Name: 2, dtype: object, class          e
 cap-shape      x
 cap-surface    s
 cap-color      g
 bruises        f
 Name: 4, dtype: object, class          e
 cap-shape      b
 cap-surface    s
 cap-color      w
 bruises        t
 Name: 6, dtype: object]

In [462]:
initdistance = []
initdistance.append(0)
initdistance.append(0)
initdistance.append(0)

distance = initdistance.copy()

In [463]:
def distanceForSame(cluster,col, instance_value):
    if (len(cluster) == 0):
        return 0
    
    frequency = len(cluster[cluster[col] == instance_value]) + 1
    total_num = len(cluster) + 1
    return 1-(frequency/total_num)

In [464]:
# 모드벡터랑 선 비교

In [465]:
# 구현해야될 기능1
# inpurt:  vector, DataFrame
# output: distance

# vector하나랑 DataFrame과의 DIstance구하기
# vector의 값을 빼내서 column만큼 반복해서 distance구하기

In [466]:
# 클러스터 1개에 대해서 distance를 구하는 함수

def getDistance(c_num, distance):
    # 해당 클러스터의 모드 벡터
    mode_vector = mode_vectors[c_num]

    for col in instance.index:
        # 같으면 cluster를 참조해서 distance구하기 
        if(mode_vector[col] == instance[col]):
            same_dist =  distanceForSame(clusters[c_num], col, instance[col])
            distance[c_num] = distance[c_num] + same_dist
        # 다르면 distance는 1 
        else:
            distance[c_num] = distance[c_num] + 1

    return distance

In [467]:
# 가장 작은 distance의 index를 구해줌
# 고려사항: distance가 같을 경우 >> 크기가 작은 클러스터로?
def getMinIndex (distance):
    return distance.index(min(distance))

In [482]:
instance = df.loc[2]
instance

class          e
cap-shape      b
cap-surface    s
cap-color      w
bruises        t
Name: 2, dtype: object

In [483]:
for i in range(len(clusters)):
    getDistance(i, distance)
distance

[1.5, 3.0, 0]

In [484]:
min_index = getMinIndex(distance)
distance = initdistance.copy()
min_index

2

In [485]:
clusters[min_index] = clusters[min_index].append(instance)
clusters[min_index]

  class cap-shape cap-surface cap-color bruises
2     e         b           s         w       t

In [486]:
#######################################################

In [487]:
clusters[0]

  class cap-shape cap-surface cap-color bruises
0     p         x           s         n       t

In [488]:
clusters[1]

  class cap-shape cap-surface cap-color bruises
1     e         x           s         y       t

In [489]:
clusters[2]

  class cap-shape cap-surface cap-color bruises
2     e         b           s         w       t

In [342]:
# Mode vector 업데이트

In [47]:
# distance값 + mode vector의 index?를 함께 저장
# 가장 적은 distance를 구함 

# vector를 가장 적은 distance의 Cluster에 추가하기!
# 새로운 Mode vector 생성

# 고려사항:
# distance가 같을 경우 >> 크기가 작은 클러스터로?

In [ ]:
# 클러스터가 변함이 없는지 확인
# 변함 없으면 cluster 종료!

In [56]:
df.append(a)

   class cap-shape cap-surface cap-color bruises
0      p         x           s         n       t
1      e         x           s         y       t
2      e         b           s         w       t
3      p         x           y         w       t
4      e         x           s         g       f
5      e         x           y         y       t
6      e         b           s         w       t
7      e         b           y         w       t
8      p         x           y         w       t
9      e         b           s         y       t
10     e         x           y         y       t
11     e         x           y         y       t
12     e         b           s         y       t
13     p         x           y         w       t
14     e         x           f         n       f
15     e         s           f         g       f
16     e         f           f         w       f
17     p         x           s         n       t
18     p         x           y         w       t
19     p         x           s         n       t
0      p         x           s         n       t

In [138]:
num = 0

mode_vector = mode_vectors[num]

for col in instance.index:
    # 같으면 cluster를 참조해서 distance구하기 
    if(mode_vector[col] == instance[col]):
        if (len(clusters[num]) == 0):
            continue
        else:
            same_dist = distanceForSame(clusters[num][col], instance[col])
            distance[num] = distance[num] + same_dist
    # 다르면 distance는 1 
    else:
        distance[num] = distance[num] + 1

distance

[3.0, 0, 0]